body {
    text-align: center;
    max-width: 800px;
    vertical-align: middle;
    margin: auto;
    Font-size: 20px;
}
.BoardContainer {
    background-color: lightsalmon;
    padding:20px;
    font-size: 30px;
    border-radius: 10px;
    margin-bottom: 25px;
    margin-top: 25px;
}
.Board {
    font: 1.2em "Goudy Bookletter 1911", fantasy;
    display:grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 5px;
    padding: 20px;
}
.player1_head {
    text-align: left;
    padding: 0 0 0 1em;
    font: smaller "Times New Roman", ui-rounded;
    color: darkred;
}
.player2_head {
    text-align: right;
    padding: 0 1em 0 0;
    font: smaller "Times New Roman", ui-rounded;
    color: indigo;
}
.player1_sum {
    grid-column-start:1;
    grid-column-end:2;
    grid-row-start:1;
    grid-row-end:3;
    color: darkred;
}
.player2_sum {
    align-self: end;
    grid-column-start:8;
    grid-column-end:9;
    grid-row-start:1;
    grid-row-end:3;
    color: indigo;
}
.player_cell {
    background-color: mintcream;
    padding: 20px;
    border: 1px solid white;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    font-family: serif;
}
